* {
  /* border: solid 1px black;*/
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
}

nav{
  width: 100%;
  justify-content: space-evenly;
}

.flex-container {
  display: flex;
}

.flex-size-1 {
  flex: 1;
}

.flex-size-2 {
  flex: 2;
}

.flex-size-3 {
  flex: 3;
}

.flex-size-4 {
  flex: 4;
}

.flex-size-5 {
  flex: 5;
}

.flex-size-6 {
  flex: 6;
}

.row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.w-50 {
  width: 50%;
}

.h-730 {
  height: 730px;
}

.h-450 {
  height: 450px;
}

.gray-0 {
  background-color: #222;
}

.gray-1 {
  background-color: #444;
}

.gray-2 {
  background-color: #666;
}

.gray-3 {
  background-color: #888;
}

.gray-4 {
  background-color: #AAA;
}

.gray-5 {
  background-color: #CCC;
}

.gray-6 {
  background-color: #EEE;
}

.bg-gray {
  background-color: #E4E4E4;
}

.center-items {
  align-items: center;
}

.center-contents {
  justify-content: center;
}

.img-box-80-80 {
  width: 80px;
  height: 80px;
}

.img-box-160-160 {
  width: 160px;
  height: 160px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.py {
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin-30 {
  margin: 0 30px;
}

ul {
  justify-content: space-around;
}

.tags {
  width: 20%;
  list-style: none;
}

.nav-element {
  background-color: rgb(180,180,180);
  height: 150px;
  flex: 1;
}

.grid-container {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  justify-items: stretch;
}

.latest-article {
  height: 200px;
}

.grid-item-1-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-1-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-2-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 1;
}

.grid-item-2-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.background-gray-1{
  background-color: #eee;
}

#see-all-articles {
  height: 250px;
}

#just-released div{
  height: 400px;
  width: 500px;
  margin-top: 30px;
}
