* {
  /* border: solid 1px black; */
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
}

nav{
  width: 100%;
  justify-content: space-evenly;
}

.flex-container {
  display: flex;
}

.row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.w-50 {
  width: 500%;
}

.h-730 {
  height: 730px;
}

.gray-0 {
  background-color: #383838;
}

.gray-1 {
  background-color: #717171;
}

.gray-2 {
  background-color: #AAAAAA;
}

.gray-3 {
  background-color: #E2E2E2;
}

.bg-gray {
  background-color: #E4E4E4;
}

.center-items {
  align-items: center;
}

.center-contents {
  justify-content: center;
}

.img-box {
  width: 80px;
  height: 80px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-50 {
  margin-left: 50px;
}

ul {
  list-style: none;
  justify-content: space-around;
}

.tags {
  width: 20%;
}

.nav-element {
  background-color: rgb(180,180,180);
  height: 150px;
  flex: 1;
}

.grid-container {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  justify-items: stretch;
}

.latest-article {
  height: 200px;
}

.grid-item-1-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-1-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-2-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 1;
}

.grid-item-2-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.background-gray-1{
  background-color: #eee;
}

